.row {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
    width: 100%;
}

.row .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    width: auto;
}

.column,
.columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
}

[class*="column"] + [class*="column"]:last-child {
    float: right;
}

@function grid-calc($colNumber, $totalColumns) {
    $result: percentage(($colNumber / $totalColumns));
    @if $result == 0% { $result: 0; }
    @return $result;
}

@for $i from 1 through $total-columns {
    .col-#{$i} {
        width: grid-calc($i, $total-columns);
    }
}
